<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
    <link rel="stylesheet" href="/static/styles/estilo4.css">
</head>
 
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/cadastro1">Cadastro de Clientes</a></li>
            <li><a href="/consulta1">Consulta de Clientes</a></li>
            <li><a href="/cadastro2"></a></li>
            <li><a href="/consulta2"></a></li>
        </ul>
        
    </nav>
 
    <div class="table-container">
        <div class="search-box">
            <input type="text" class="search-txt" placeholder="Buscar...">
            <a href="#" class="search-btn">
                <img src="/static/assets/lupa.png" alt="Lupa" height="15px" width="15px">
            </a>  
        </div>
        <table>
            <div>
                <h2 class="animate__animated animate__zoomIn">Faça sua consulta</h2>
            </div>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente[0] }}</td>
                    <td>{{ cliente[1] }}</td>
                    <td>{{ cliente[2] }}</td>
                    <td>{{ cliente[3] }}</td>
                    <td>
                        <a href="/editar/{{ cliente[0] }}" class="link_editar">Editar</a>
                        <a href="/excluir/{{ cliente[0] }}" class="link_excluir">Excluir</a>
                        <a href="/ver/{{ cliente[0] }}" class="link_ver">Ver</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
</body>
</html>
 
 