<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
    <link rel="stylesheet" href="/static/styles/ver.css">
</head>
<body>
    <nav>
        <a href="/ver2"></a>
        <a href="/voltar2" class="link_voltar2">voltar</a>
    </nav>
        <div class="container">
            <h2>Ver Dados</h2>
            <div class="tabela">
                <label>Nome:</label>
                <span>{{ fornecedores[1] }}</span>
            </div>

            <div class="tabela">
                <label>E-mail:</label>
                <span>{{ fornecedores[2] }}</span>
            </div>

            <div class="tabela">
                <label>Telefone:</label>
                <span>{{ fornecedores[3] }}</span>
            </div>

            <div class="tabela">
                <label>Site:</label>
                <span>{{ fornecedores[4] }}</span>
            </div>

            <div class="tabela">
                <label>Estado:</label>
                <span>{{ fornecedores[7] }}</span>
            </div>

            <div class="tabela">
                <label >Cidade:</label>
                <span>{{ fornecedores[8] }}</span>
            </div>

            <div class="tabela">
                <label>Rua:</label>
                <span>{{ fornecedores[9]}}</span>
            </div>

            <div class="tabela">
                <label >N° da residencia:</label>
                <span>{{ fornecedores[10] }}</span>
            </div>      

            <div class="tabela">
                <label >CNPJ:</label>
                <span>{{ fornecedores[5] }}</span>
            </div>

            <div class="tabela">
                <label >Data de cadastro:</label>
                <span>{{ fornecedores[6] }}</span>
            </div>         
        </form>
    </div>
</body>
</html>